.Toolbar {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #2a4d69;
    margin-top: 32px;
}

.ToolbarTitle {
    font-weight: bold;
    color: #e7eff6;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    margin-bottom: 11px;
    font-size: 24px;
}